.showDetails{
    text-align: center;
    margin-left: 20px;
}

.showDetails div {
    display:flex;
    min-width: 70px;
    margin-bottom: 5px;
}

.showDetails div div{
    margin-right: 5px;
}
.showDetails div div:first-child::after{
    content: ":";
}

